html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top Up Account
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

  body
    .container.mt-4
      h2.text-center Top Up Your Account
      p.text-center Balance: 
        strong $#{user.balance}

      // Form to top-up balance
      form(method='POST', action='/cards/top-up', class='w-50 mx-auto')
        .form-group
          label(for='amount') Amount to add:
          input#amount.form-control(type='number', name='amount', placeholder='Enter amount' required)

        .form-group
          label(for='cardNumber') Choose a card:
          select#cardNumber.form-control(name='cardNumber' required)
            each card in cards
              option(value=card.cardNumber) #{card.cardNumber} - $#{card.credit}
        
        button.btn.btn-primary.btn-block(type='submit') Top Up Account